In [7]:
def sum1(n) :
  # Time Complexity : O(1)
  return n*(n+1)//2

def sum2(n) :
  # Time Complexity : O(n)
  sm = 0
  for i in range(1,n+1) :
    sm = sm + i
  return sm

#@Author : Sudip Mitra
#E-mail : sudipmitraonline@gmail.com
n = int(input("Enter the n'th term : "))
print("sum1 executed output {}".format(sum1(n)))
print("sum2 executed output {}".format(sum2(n)))

Enter the n'th term : 77777966
sum1 executed output 3024706036437561
sum2 executed output 3024706036437561